{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document GED{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'documents/style.css' %}" rel="stylesheet">
    <!-- Ajouter d'autres liens vers Bootstrap ou tout autre framework CSS si nécessaire -->
</head>
<body>
    {% block content %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h1 class="text-center">Log-in</h1>
                            <div class="login-form">
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="form-group">
                                        <input type="submit" value="Log-in" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                            <p class="text-center mt-3">
                                Don't have an account? 
                                <a href="{% url 'register' %}" class="btn btn-link">Sign Up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>
